@import "_colores.scss";

// formulario mediante metodologia bem 
//metodologia BEM

.form {
  margin: 0 auto;
  width: 400px;
  color: $blanco-color;
  padding: 1em;
  border: 1px solid $terciario-color;
  border-radius: 1em;
  background-color: $primario-color;
  background-image: linear-gradient(400deg, $primario-color 0%, $quinario-color 80%);
}

.form input[type="checkbox"] {
  width: 1em;
  height: 1em;
  vertical-align: -2px;
 
}
.form__label {
  display: inline-block;
  width: 90px;
  text-align: left;
}

.form-input,
.form__textarea {
  width: 300px;
  box-sizing: border-box;
  border: 1px solid $secundario-color ;
}

.form__textarea {
  height: 5em;
  resize: none;
}

.form-bt{
  margin-left: 20px;
  border-radius: 10px;
  width: 5em;
    &:hover{
      background: $quinario-color;
    }
    &:focus{
      background-color: $terciario-color;
    }
}


// color dentro del input
.form-color{
  color: $cuaternario-color;
}

