@import "_colores.scss";

//variables de width y height
//operaciones

$largo: 20rem;
$ancho: 1rem;

//metodologia BEM
.fondo {
  height: $largo - 2;
  margin-bottom: 1% ;
  padding: 1% 0px;
  background-color: $cuaternario-color;
  background-image: url(../img/banner.jpg); 
 }
.fondo-caja{
	position: absolute	;
	display:grid	;
	font-family:'Roboto Slab', serif;
	padding: 10px 10 px;
	background-color: transparent	;
	height: $largo / 2;
	width: $ancho * 8;
	top: 25%;
	left: 2%;
	transform: translate(50%, 50%);
}

/*redes sociales*/
// relacionado a redes sociales dentro del banner
/*redes sociales*/
.social-bar {
  display: flex;
  flex-direction: row;
  margin-top: 2rem;
  padding: 1rem;
  right: 10%;
  justify-content: flex-end;

  img {
    height: 3.57143rem;
    width: 3.5rem;
    margin: 5%;
    padding: 1px; }
  }

.social__icon {
  margin: 1rem;
  padding-right: 1.5rem; }

  .social__icon-trans {
    transition: width 5s height 5s;
    &:hover{
      width: 5rem;
      height: 5rem
      } 
  }


  @media only screen and (max-width: 550px) {
    .social-bar {
      display: flex;
      flex-direction: row;
      margin-top: 0.8rem;
      padding: 0.5rem;
      right: 2%;
      justify-content: flex-end; }

      .social-bar img {
        height: 2.8rem;
        width: 2.8rem;
        margin:5%;
        padding: 1px; }

        .fondo-caja img{
          padding: 5px;
          height: 5rem;
          width: 20rem;
          margin-top: -3rem;
          left: 2rem;}
        }