@import "_colores.scss";
@import "_mediqueries.scss";


//variables de width y height
//operaciones

$largo: 20rem;
$ancho: 1rem;

//metodologia BEM
.fondo {
  height: $largo;
  margin-top: 7%;
  margin-bottom: 1% ;
  padding: 1% 0px;
  background-color: $cuaternario-color;
  background-image: url(../img/banner.jpg); 
 }
.fondo-caja{
	position: absolute	;
	display:grid	;
	font-family:'Roboto Slab', serif;
	padding: 10px 10 px;
	background-color: transparent	;
	height: $largo / 2;
	width: $ancho * 8;
	top: 25%;
	left: 2%;
	transform: translate(50%, 50%);
}

/*redes sociales*/
// relacionado a redes sociales dentro del banner


.social-bar{
  display: flex;
  flex-direction: row ;
  margin-top: 3rem;
  padding:  1.5rem;
  right: 10%;
  justify-content:flex-end;
}

.social-bar img{
  height: $largo / 5.6;
  width: $ancho * 3.5;
  margin: 2%;
  padding: 1px;
}

.social__icon{
    margin: 2rem;
    padding-right: 1.5rem;
}

.social__icon-trans{
  transition: width 5s height 5s;
}

.social__icon-trans:hover{
    width: $ancho * 5;
    height: $largo / 4;
}

