
@import "menu";
@import "footer";
@import "subParrafo";
@import "header";
@import "colores";
@import "formulario";


@media only screen and (max-width: 550px) {
  .social-bar {
   display: flex;
   flex-direction: row;
   margin-top: 0.8rem;
   padding: 0.5rem;
   right: 1%;
   justify-content: flex-end; }

   .social-bar img {
    height: 2.8rem;
    width: 2.8rem;
    margin-top:5%;
    padding: 1px; }

    .fondo-caja{
     padding: 2px;
     height: 5rem;
     width: 10rem;
     margin-top: -1rem;
     margin-left: -5rem;}

     nav {
      width: 100vw; }
      .principal-title {
        font-size: 30px; } 
}