@import "_colores.scss";

/* menu - responsive*/
// relacionado a menu con bs

$alto: 1rem;
$ancho: 1rem;

nav {
  font-family: 'Roboto Slab', serif;
  height: 6em;
  width: 100vw;
  background-color: $primario-color;
  background-image: linear-gradient(400deg, $primario-color 0%, $secundario-color 50%);
}

ul{
  height: $alto * 7.5;
  text-align: center;
  font-size: 20px;
  padding: 1px 8px;
  margin: 5px 5px;

    li{
  flex-basis: $alto * 7.5;
  text-align: center;
  list-style: none;
  display: inline-block;
    }
          a{
        text-decoration: none;
        background-color: transparent;
        border-radius: 10px;
        color: $fuente-color;
            
          }

}

nav ul li a{
  color: $blanco-color;
  margin-left: $ancho * 3;
        
}
.degra:hover{
background-color: $primario-color;
background-image: linear-gradient(400deg, $primario-color 0%, $quinario-color 80%);
}

.menu__cont {
   background-color: $primario-color;
   background-image: linear-gradient(400deg, $primario-color 0%, $secundario-color 50%);
   height: 5em;
}

.menu__list-link{
  font-size: 25px;
}
