@import "_colores.scss";

/* menu - responsive*/
// relacionado a menu con bs

$alto: 1rem;

nav {
  font-family: 'Roboto Slab', serif;
  height: 6em;
  width: 100vw;
  margin-top: 0.1rem;
  background-color: $primario-color;
  background-image: linear-gradient(400deg, $primario-color 0%, $secundario-color 50%);
}

ul{
  height: $alto * 7.5;
  text-align: center;
  font-size: 20px;
  padding: 1px 8px;
  margin: 5px 5px;

}

ul li{
  flex-basis: $alto * 7.5;
  text-align: center;
  list-style: none;
  display: inline-block;
}

ul li a{
  text-decoration: none;
  background-color: transparent;
  border-radius: 10px;
  color: $fuente-color;

}

.degra:hover{
background-color: $primario-color;
background-image: linear-gradient(400deg, $primario-color 0%, $quinario-color 80%);
}

ul a:hover{
  background-color: $primario-color;
  background-image: linear-gradient(400deg, $primario-color 0%, $quinario-color 50%);
  border-radius: 10px;
}

nav ul li a{
  color: $blanco-color;
}

.menu__cont {
   background-color: $primario-color;
   background-image: linear-gradient(400deg, $primario-color 0%, $secundario-color 50%);
   height: 5em;
}

.menu__list-link{
  font-size: 25px;
}